body {
    background: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(0, 217, 255);
    padding: 10px 40px; 
}

p {
    line-height: 2;
}

a {
    color: lightseagreen;
}

a:hover, a:active, a:focus {
    color: palegreen;
  }

.cols {
    position: relative;
    margin-top: 10px;
    margin-bottom: -20px;
    column-count: 3;
}

.main {
    background: gray;
    color: white;
    position: relative;
    margin-bottom: 40px;
    margin-left: 40px;
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    display: inline-block;
}

.links {
    color: black;
    margin-left: 40px;
}

.projects {
    color: black;
    margin-left: 200px;
    margin-right: 200px;
}

.projects div {
    margin-bottom: 80px;
}

.sub {
    color: black;
    background: gainsboro;
    margin-top: 10px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px; 
    display: inline-block;
    
}

nav {
    background: white;
    border-radius: 20px;
    display: inline-block;
    padding-left: 20px;
}

nav ul li {
    margin-right: 60px;
    display: inline-block;
}